{% extends "base.html" %}
{% block start %}
<div  >
    <form  method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div >
            <h2>VISIT TO ORIGINAL URL</h2>
            <hr>
           </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" >SHORT URL</label>
                <input type="text"  name="URL" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              
              <button type="submit" >Submit</button>
        </form>
      </div>
    </div>
    {% endblock  %}